@import "../../../styles/global/mixins";
@import "../../../styles/global/variables";

:host {
  width: 18%;
  min-width: 15%;
  max-width: 200px;
}
.card {
  width: 100%;
  @include flex(column, start, start, $spacing-xs);
  position: relative;
  cursor: pointer;
  &:hover {
    background: $dark-vertical-gradient-dark-top;
  }
}
div.img {
  width: 100%;
  padding-top: 100%;
  position: relative;
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    &.artist-img {
      border-radius: 50%;
    }
  }
}
div.details {
  width: 100%;
  @include flex(column, start, start, 0);
  padding: $spacing-xs;
  padding-top: 0;
  h4,
  p {
    @include ellipsis();
    text-transform: capitalize;
    width: 100%;
    &.data-list {
      text-wrap: wrap;
    }
  }
}
