@import "../../styles/global/variables";
@import "../../styles/global/mixins";
:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1;
}
button.play-btn {
  background-color: $bright-green;
  border: none;
  cursor: pointer;
  @include flex(row);
  border-radius: 50%;
  -webkit-box-shadow: -11px 15px 27px -13px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -11px 15px 27px -13px rgba(0, 0, 0, 0.69);
  box-shadow: -11px 15px 27px -13px rgba(0, 0, 0, 0.69);
  height: 35%;
  aspect-ratio: 1;
  position: absolute;
  bottom: $spacing-md;
  right: $spacing-md;
  opacity: 0;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.05);
    background-color: lighten($bright-green, 10%);
  }
  div {
    clip-path: polygon(100% 52%, 0 0, 0 100%);
    background-color: $background-dark-1;
    width: 40%;
    aspect-ratio: 1;
    margin-left: 4px;
  }
}
