/* FONTS */
$main-font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

/* COLORS */
$background-dark-1: #000;
$background-dark-2: #121212;
$background-dark-3: #242424;
$text-light-1: #fafafa;
$text-light-2: #f6f6f6;
$text-light-3: #868686;
$bright-green: #1eda62;
$bright-blue: #7acaff;
$electric-violet: #af7de0;
$french-violet: #9f3dd3;
$vivid-pink: #dd83d4;
$hot-red: #e06f8f;
$orange-red: #e48775;

/* GRADIENTS */
$pink-to-purple-to-bluehorizontal-gradient: linear-gradient(
  90deg,
  $vivid-pink 0%,
  $french-violet 50%,
  $bright-blue 100%
);
$dark-vertical-gradient-light-top: linear-gradient(
  to bottom,
  darken($background-dark-3, 3%) 0%,
  $background-dark-2 30%
);

$dark-vertical-gradient-dark-top: linear-gradient(
  to bottom,
  darken($background-dark-2, 3%) 0%,
  $background-dark-3 30%
);

/* SPACINGS */
$spacing-xxs: 5px;
$spacing-xs: 10px;
$spacing-sm: 15px;
$spacing-md: 20px;
$spacing-lg: 25px;
$spacing-xl: 30px;
$spacing-xxl: 35px;
