<footer>
  @for (list of footerData; track $index) {
  <div>
    <h3>{{ list.title }}</h3>
    <ul>
      @for (item of list.items; track $index) {
      <li>
        <a href="#">{{ item }}</a>
      </li>
      }
    </ul>
  </div>
  }
  <div class="socials">
    <ul>
      @for (link of socials; track $index) {
      <li>
        <a href="{{ link.url }}" target="_blank" rel="noopener">
          <img src="{{ link.icon }}" alt="{{ link.name }}" />
        </a>
      </li>
      }
    </ul>
  </div>
</footer>
