@import "../../styles/global/variables";
@import "../../styles/global/mixins";

footer {
  background-color: $background-dark-2;
  padding: $spacing-lg;
  @include flex(row, start, start);
  div {
    width: 15%;
  }
  ul {
    @include flex(column, start, start, $spacing-xs);
    a {
      color: $text-light-3;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
