@import "../../../styles/global/functions";
@import "../../../styles/global/variables";
@import "../../../styles/global/mixins";

.color-component {
  /* Color de fondo aleatorio */
  position: relative;
  background-color: random-color();
  aspect-ratio: 1;
  border-radius: 8px;
  @include flex(row);

  img.logo {
    width: 15px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  p {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    right: 5px;
    color: $background-dark-1;
  }
  h2 {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: $background-dark-1;
    font-size: 16px;
    @include ellipsis();
  }
  img.main {
    width: 60%;
    border-radius: 50%;
  }
}
