@import "../../styles/global/mixins";
@import "../../styles/global/variables";

section {
  padding: $spacing-sm;
  max-width: 100%;
}
ul {
  @include flex(row, space-evenly, start);
  max-width: 100%;
  overflow-x: auto;
  @include scrollbar();
}

h2 {
  padding-top: $spacing-lg;
  padding-bottom: $spacing-sm;
}
