@import "../../styles/global/mixins";
@import "../../styles/global/variables";

section {
  padding: $spacing-sm;
  width: 100%;
}
ul {
  @include flex(row, space-evenly, start);
  width: 100%;
}

h2 {
  padding-top: $spacing-lg;
  padding-bottom: $spacing-sm;
}
