@import "../styles/global/variables";
@import "../styles/global/mixins";

:host {
  display: flex;
  margin: $spacing-xs;
  gap: $spacing-xs;
  overflow: hidden;
  min-height: 100svh;
}

aside {
  min-width: 280px;
  max-width: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  max-width: 100%;
}

main {
  background: $dark-vertical-gradient-light-top;
  flex-grow: 1;
  overflow-y: auto;
}

menu {
  background-color: $background-dark-2;
  @include flex(column, start, start);
  margin-bottom: $spacing-xs;
  padding: $spacing-sm $spacing-xxs;
}

@media screen and (max-width: 1024px) {
  :host {
    @include flex(column, start, start);
    margin: $spacing-xs;
    gap: $spacing-xs;
  }
  aside {
    display: none;
  }
}
