@import "../styles/global/variables";
@import "../styles/global/mixins";

:host {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: $spacing-xs;
  gap: $spacing-xs;
}

aside {
  grid-column: 1/2;
  grid-row: 1/3;
}

main {
  background: $dark-horizontal-gradient;
  grid-column: 2/3;
}

.registry-nav {
  @include flex(row, end, center, $spacing-md);
  padding: $spacing-sm $spacing-lg;
  background-color: $background-dark-2;
  position: sticky;
  grid-column: 2/3;
}

menu {
  background-color: $background-dark-2;
  @include flex(column, start, start);
  margin-bottom: $spacing-xs;
  padding: $spacing-sm $spacing-xxs;
}
