@import "../styles/global/variables";
@import "../styles/global/mixins";

:host {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin: $spacing-xs;
  gap: $spacing-xs;
  min-height: 100svh;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
}

main {
  background: $dark-vertical-gradient-light-top;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}

menu {
  background-color: $background-dark-2;
  @include flex(column, start, start);
  margin-bottom: $spacing-xs;
  padding: $spacing-sm $spacing-xxs;
}

@media screen and (max-width: 1024px) {
  :host {
    @include flex(column, start, start);
    margin: $spacing-xs;
    gap: $spacing-xs;
    min-height: 100svh;
    width: 100vw;
  }
  aside {
    display: none;
  }
}
